<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cvaiedu.template.business.system.mapper.AccountMapper">

    <select id="getByRoleId" resultType="com.cvaiedu.template.business.system.entity.Account">
        SELECT fa.* from framework_account fa
        LEFT JOIN framework_role_account fra ON fa.account_code = fra.account_code
        LEFT JOIN framework_role fr ON fra.role_id = fr.id
        WHERE
            fr.id = #{roleId}
    </select>

</mapper>